[submodule "toolboxes/mGstat"]
	path = toolboxes/mGstat
	url = https://github.com/cultpenguin/mgstat
[submodule "toolboxes/MPSLIB"]
	path = toolboxes/MPSLIB
	url = https://github.com/ergosimulation/mpslib
